

.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notification {
  max-width: 400px;
  padding: 20px;
}

.notification-content {
  text-align: center;
}

.notification-message {
  margin-bottom: 20px;
  font-size: 20px;
}

.notification-buttons {
  display: flex;
  justify-content: center;
}

.notification-buttons .button {
  margin: 0 10px;
}
